h1
{
	text-align: center;
	background-color: gold;
	background-size: 20px;
	border-style: solid;
	border-radius: 5px;
	border-color: silver;
	border-width: 10px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

body
{
	background-image: url("pattern.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	text-align: center;
}

figure
{
	margin-left: auto;
	margin-right: auto;
	color: white;
}

img
{
	width: 300px;
	height: 280px;
}

div.style1
{
	width: 320px;
	height: 320px;
	background-color: grey;
	text-align: center;
	padding-top: 5;
	margin-right: auto;
	display: inline-block;
}

div.style2
{
	width: 320px;
	height: 320px;
	background-color: black;
	text-align: center;
	padding-top: 5;
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
}

div.style3
{
	width: 320px;
	height: 320px;
	background-color: blue;
	text-align: center;
	padding-top: 5;
	margin-left: auto;
	display: inline-block;
}

div.style4
{
	width: 320px;
	height: 320px;
	background-color: orange;
	text-align: center;
	padding-top: 5;
	margin-right: auto;
	display: inline-block;
}

div.style5
{
	width: 320px;
	height: 320px;
	background-color: green;
	text-align: center;
	padding-top: 5;
	margin-left: auto;
	display: inline-block;
}

div.style6
{
	width: 320px;
	height: 320px;
	background-color: #FF6666;
	text-align: center;
	padding-top: 5;
	margin-right: auto;
	display: inline-block;
}

div.stylepara
{
	width: 400px;
	height: 400px;
	text-align: center;
	margin-bottom: auto;
	background-color: red;
	display: inline-block;
}

div.styleglobe
{
	margin-right: auto;
	text-align: right;
	margin-bottom: auto;
}

p
{
	color: white;
	font-size: 15;
  font-family: sans-serif;:
}

figcaption
{
	font-style: oblique;
}
